@font-face {
    font-family: "syne reg";
    src: url("../font/Syne-Regular.ttf");
   }

@font-face {
font-family: "syne bold";
src: url("../font/Syne-Bold.ttf");
}



$bg_navbar : #FFFFFF;
$color_navbar: #222;
$color_content: #333;
$border: #aaa9a9;
$text: #FFFFFF;