@import './colors.scss';

body {

    background-color: $color_content;
    .content{

        .navbar {

            background-color: $color_navbar;
            .container {

                .collapse {

                    ul {

                        li {

                            a {

                                color: $text;
                                
                            }

                            a:hover{

                                color: $color_content;
                            }

                            
                        }
                    }
                }
            }
        }
    }

    .container-fluid {

        
        .container {

            .row-home {

                height: 100%;
            }

            .row-user{

                .col-6{

                    color: $color_content;
                    .col-title{

                        border-bottom: 1px solid $border;

                    }
                }
            }
        }

    }
}






/* checkbox */

input[type="checkbox"].demo5 {
    display: none;
  }
  input[type="checkbox"].demo5 + label {
    box-sizing: border-box;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    padding:2px;
    background-color: #c0ceda ;
    transition: all 0.5s ;
  }
  input[type="checkbox"].demo5 + label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(1.5rem - 4px);
    width: calc(1.5rem - 4px);
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ;
  }
  input[type="checkbox"].demo5:checked + label {
    background-color: #00B7E8 ;
  }
  input[type="checkbox"].demo5:checked + label::before {
    margin-left: 1.5rem ;
  }